<h2>Essa página mostra as questões mais acessadas em determinado período</h2>
<p>
    <!-- <span>Aqui encontram-se os dados das questões e seus acessos diários, </span>
    <span>caso deseje ver os detalhes dessa disciplina, como seus textos, basta clicar no botão <b>Mostrar detalhes</b></span> -->
</p>

<% if @selected.length <= 10 %>
    <button><%= link_to "By week", :period => 'week' %></button>
<% end %>
<% if @selected.length <= 10 %>
    <button><%= link_to "By month", :period => 'month' %></button>
<% end %>
<% if @selected.length <= 10 %>
    <button><%= link_to "By year", :period => 'year' %></button>
<% end %>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Disciplina</th>
            <th>Acesso diário</th>
        </tr>
    </thead>
    <tbody>
        <td><%= @selected %></td>
    </tbody>
</table>