<h1>Bem Vindo</h1>
<p>Essa plataforma foi desenvolvida para finalidade de teste corporativo para desevolvedor júnior Back-End da empresa QCX.<p>
<p>O Objetivo dela é solucionar dois problemas de agrupamento de questões por view em determinado período</p>
<p>
    A primeira questão é ordenar as disciplinas nas quais as questões foram as mais acessadas nas últimas 24h, <b>clique no link abaixo "Trending Disciplines" para acessar a lista</b>
</p>
<button><%= link_to "Trending Disciplines", "/trending" %></button>


<p>
    A segunda questão é listar as questões mais acessadas filtrando por semana, mês e ano, <b>clique no link abaixo "Per Period" para acessar a lista</b>
</p>
<button><%= link_to "Per Period", "/per_period" %></button>
